.row{
    width: 100%;
    height: 400px;
    background-color: darkgrey;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.col{
    width: 150px;
    height: 200px;
    background-color: maroon;
    border: 4px solid whitesmoke;
}